body{
    font-weight: normal;
}


.elementor-1198 
.elementor-element.elementor-element-ed13705 
.boostify-menu > li > a{
    font-family: 'DIN Pro';
    font-size: 16px;
    font-weight: 300;
	font-style: normal;
}

.elementor-48 
.elementor-element.elementor-element-e260a5e 
.elementor-heading-title{
    font-family: 'DIN Pro';
    font-weight: bold;
}


.topmenu{
    justify-content:center;
    width: 100%;
 }

 .topmenu li{
    align-items:center;
 }

 .elementor-top-column {
     width: 100%;
 }

 .apar-icon-search{
     margin-top: 3px;
 }

 .elementor-48 .elementor-element.elementor-element-0c80414 > .elementor-container{
     min-height: 300px;
 }

 .elementor-48 .elementor-element.elementor-element-0c80414:not(.elementor-motion-effects-element-type-background), .elementor-48 .elementor-element.elementor-element-0c80414 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
     background-position: center center;
 }

 .elementor-48 .elementor-element.elementor-element-aae15a2 .apar-widget-search .apar-form-search--wrapper .apar-form-search-action .ymm-selector.ymm-box .block-content .ymm-submit-any-selection span{
    font-family: 'DIN Pro';
    font-weight: bold;
    font-size: 14px;     
 }
 .apar-widget-search .apar-form-search--wrapper .apar-form-search-action .ymm-selector.ymm-box .block-content .ymm-submit-any-selection{
     padding: 0;
 }

 .elementor-1198 .elementor-element.elementor-element-9e183f8 .boostify-mega-menu-vertical--widget .boostify-menu-toggle-vertical{
    font-family: 'DIN Pro';
    font-weight: normal;
 }

 .elementor-widget-ht-hf-mega-menu-vertical .boostify-menu > li > a,
 .elementor-widget-ht-hf-mega-menu-vertical .boostify-menu > li > a:hover{
    font-family: 'DIN Pro';
    font-weight: normal;
 }

 .elementor-48 .elementor-element.elementor-element-cd71721 .elementor-heading-title{
    font-family: 'DIN Pro';
    font-weight: bold;
    font-size: 30px;
 }

 .elementor-widget:not(:last-child){
     margin-bottom: 0;
 }

 .elementor-icon-box-description a{
     color:#FC5A34;
 }

 .popular-models-title{
     float:none;
 }

 .popular-models-title h2{
    font-family: 'DIN Pro' !important;
    font-weight: bold !important;
    font-size: 30px !important;
 }


 .apar-icon-profile{
    margin-top: 3px;
    margin-right: -5px;
 }

.apar-icon-profile:before {
    font-family: "FontAwesome" !important;
    content: "\f2be";
    font-weight: 400;
}


ul.products > .product{
    font-family: 'DIN Pro' !important;
}

.woocommerce-loop-product__title{
    font-family: 'DIN Pro' !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    text-transform:none !important;
}

.woocommerce-Price-amount.amount{
    font-size: 18px;
}

.woocommerce-products-header,
.woocommerce-tabs .tabs a{
    font-family: 'DIN Pro' !important;
}

.summary .product_title{
    font-family: 'DIN Pro' !important;
    font-weight: 400;
    font-size: 30px; 
}

.woocs_price_code{
    font-family: 'DIN Pro' !important;
}


.shop_attributes{
    width: 100%;
}


.filter-button:hover{
    background-color: #fd8c71;
}

.filter-button{
    background-color: #fc5a34;
    display: inline-block;
border: 0;
color: #fff;
padding: 10px 27px;

font-size: 14px;
border-radius: 3px;
font-weight: bold;
text-transform: uppercase;
font-family: 'DIN Pro' !important;
margin-left: auto;
margin-right: auto;
}

.filter-button-wrapper{
    text-align: center;
    margin-top: 30px;
}

.ui-state-default, 
.ui-widget-content 
.ui-state-default, 
.ui-widget-header 
.ui-state-default, 
.ui-button, html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active{
    background-color: #fc5a34;
    border:none;
}

.ui-widget.ui-widget-content{
    border:none;
    background-color: #f3f3f3;
}


.ui-slider-horizontal .ui-slider-range{
    background-color: #fc5a34;
    opacity:0.5;
}

.filterField{
    margin-top: 15px;
}

.woocommerce-form__label.woocommerce-form__label-for-checkbox{
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    cursor: pointer;
}

.woocommerce input[type="checkbox"] + span{
    font-weight: 400;
}

.filterField legend{
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
}