.elementor-1198 
.elementor-element.elementor-element-ed13705 
.boostify-menu > li > a{
    font-family: 'DIN Pro';
    font-size: 16px;
    font-weight: 300;
	font-style: normal;
}

.elementor-48 
.elementor-element.elementor-element-e260a5e 
.elementor-heading-title{
    font-family: 'DIN Pro';
    font-weight: bold;
}