body{
    font-weight: normal;
}


.elementor-1198 
.elementor-element.elementor-element-ed13705 
.boostify-menu > li > a{
    font-family: 'DIN Pro';
    font-size: 16px;
    font-weight: 300;
	font-style: normal;
}

.elementor-48 
.elementor-element.elementor-element-e260a5e 
.elementor-heading-title{
    font-family: 'DIN Pro';
    font-weight: bold;
}


.topmenu{
    justify-content:center;
    width: 100%;
 }

 .topmenu li{
    align-items:center;
 }

 .elementor-top-column {
     width: 100%;
 }

 .apar-icon-search{
     margin-top: 3px;
 }

 .elementor-48 .elementor-element.elementor-element-0c80414 > .elementor-container{
     min-height: 300px;
 }

 .elementor-48 .elementor-element.elementor-element-0c80414:not(.elementor-motion-effects-element-type-background), .elementor-48 .elementor-element.elementor-element-0c80414 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
     background-position: center center;
 }

 .elementor-48 .elementor-element.elementor-element-aae15a2 .apar-widget-search .apar-form-search--wrapper .apar-form-search-action .ymm-selector.ymm-box .block-content .ymm-submit-any-selection span{
    font-family: 'DIN Pro';
    font-weight: bold;
    font-size: 14px;     
 }
 .apar-widget-search .apar-form-search--wrapper .apar-form-search-action .ymm-selector.ymm-box .block-content .ymm-submit-any-selection{
     padding: 0;
 }

 .elementor-1198 .elementor-element.elementor-element-9e183f8 .boostify-mega-menu-vertical--widget .boostify-menu-toggle-vertical{
    font-family: 'DIN Pro';
    font-weight: normal;
 }

 .elementor-widget-ht-hf-mega-menu-vertical .boostify-menu > li > a,
 .elementor-widget-ht-hf-mega-menu-vertical .boostify-menu > li > a:hover{
    font-family: 'DIN Pro';
    font-weight: normal;
 }

 .elementor-48 .elementor-element.elementor-element-cd71721 .elementor-heading-title{
    font-family: 'DIN Pro';
    font-weight: bold;
    font-size: 30px;
 }

 .elementor-widget:not(:last-child){
     margin-bottom: 0;
 }

 .elementor-icon-box-description a{
     color:#FC5A34;
 }

 .popular-models-title{
     float:none;
 }

 .popular-models-title h2{
    font-family: 'DIN Pro' !important;
    font-weight: bold !important;
    font-size: 30px !important;
 }


 .apar-icon-profile{
    margin-top: 3px;
    margin-right: -5px;
 }

.apar-icon-profile:before {
    font-family: "FontAwesome" !important;
    content: "\f2be";
    font-weight: 400;
}
