<div id="theme-page-header">
    <div class="page-header">
<div class="container">
                        <div id="theme-bread">
        <nav class="woocommerce-breadcrumb">
<?php
// Вывод строки навигации
$Structure_Controller_Breadcrumbs = new Structure_Controller_Breadcrumbs(
		Core_Entity::factory('Site', CURRENT_SITE)
	);
$Structure_Controller_Breadcrumbs
	->xsl(
		Core_Entity::factory('Xsl')->getByName('ХлебныеКрошки')
	)
	->show();
?>
</nav>					</div>
</div>
</div>
</div>



<?php 
Core_Page::instance()->execute();
?>