labelTag = Метка
labelAttributes = Атрибуты группы инфоэлементов
labelDownloadFile = Скачать файл
labelMonth1 = января
labelMonth2 = февраля
labelMonth3 = марта
labelMonth4 = апреля
labelMonth5 = мая
labelMonth6 = июня
labelMonth7 = июля
labelMonth8 = августа
labelMonth9 = сентября
labelMonth10 = октября
labelMonth11 = ноября
labelMonth12 = декабря
labelNominative = комментарий
labelGenitiveSingular = комментария
labelGenitivePlural = комментариев