labelReadMore = Читать дальше:
labelAttributes = Атрибуты
labelReviews = Комментарии
labelAddReview = Добавить комментарий
labelCommentName = Имя
labelCommentEmail = E-mail
labelCommentPhone = Телефон
labelCommentSubject = Тема
labelCommentText = Комментарий
labelGrade = Оценка
labelUpdateCaptcha = Показать другое число
labelCaptchaId = Контрольное число
labelDownloadFile = Скачать файл
labelNominative = просмотр.
labelGenitiveSingular = просмотра.
labelGenitivePlural = просмотров.
labelLike = Нравится
labelDislike = Не нравится
labelReply = ответить
labelCommentLink = Ссылка на комментарий
labelPublish = Опубликовать